{{#settings-modal isActive=showModal}}{{/settings-modal}}
<nav class="main-navbar navbar is-transparent">
  <div class="navbar-brand">
    {{#link-to "application" class="navbar-item"}}
      Git Task List
    {{/link-to}}
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <a href="#" onclick={{action "showSettingsModal"}}>{{fa-icon 'cog' size="2x"}}</a>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <a href="#" onclick={{action "showSettingsModal"}}>{{fa-icon 'cog' size="2x"}}</a>
      </div>
    </div>
  </div>
</nav>
<section class="section">
  <div class="container">
    {{outlet}}
  </div>
</section>
