<div class="layout-column">
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
      {{#paper-button iconButton=true}}
        {{paper-icon "menu"}}
      {{/paper-button}}
      <h2>
        <h1 class="hide-xs">GSOC Preparation Tasks</h1>
        <h1 class="hide-gt-xs">GSOC Tasks</h1>
      </h2>
      <span class="flex"></span>
      {{#paper-button iconButton=true}}
        {{paper-icon "search"}}
      {{/paper-button}}
      {{#paper-button iconButton=true class="hide-gt-xs"}}
        {{paper-icon "more_vert"}}
      {{/paper-button}}
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}
  <div class="layout-column">
    <form {{action "searchIssues" query on="submit"}}>
      {{#paper-card as |card|}}
        {{#card.content class="layout-column"}}
          {{input placeholder="Search" type="text" value=query}}
        {{/card.content}}
        {{#card.actions class="layout-column"}}
          {{#paper-button warn=true raised=true type="submit"}}Search{{/paper-button}}
        {{/card.actions}}
      {{/paper-card}}
    </form>
  </div>
  {{outlet}}
</div>