{{#paper-card as |card|}}
  {{#card.actions}}
    {{#paper-checkbox value=groupByRepoVal onChange=(action 'groupByRepo' groupByRepoVal)}}
      Toggle Group By Repository Name
    {{/paper-checkbox}}
  {{/card.actions}}
{{/paper-card}}
<div class="layout-align-center layout-gt-sm-row layout-wrap">
  {{#each model as |issue|}}
    {{#paper-card class="flex-gt-sm-45 layout-nowrap" as |card|}}
      {{#card.header as |head|}}
        {{#head.avatar}}
          <img src="{{issue.repository.owner.avatar_url}}" alt="{{issue.repository.owner.login}}">
        {{/head.avatar}}
        {{#head.text as |text|}}
          {{#text.title}}
            <h3>
              <a href="http://github.com/{{issue.repository.owner.login}}">{{issue.repository.owner.login}}</a>/<a href="http://github.com/{{issue.repository.owner.login}}/{{issue.repository.name}}">{{issue.repository.name}}</a>
            </h3>
          {{/text.title}}
        {{/head.text}}
      {{/card.header}}
      {{#card.title class="flex-nogrow"}}
        <h3>{{issue.title}}</h3>
      {{/card.title}}
      {{#card.content class="layout-column flex-grow"}}
        {{#read-more class="flex-nogrow" maxHeight="350px"}}
          {{markdown-to-html markdown=issue.body extensions='issueWrap'}}
        {{/read-more}}
      {{/card.content}}
      {{#paper-button primary=true
                      raised=true
                      href=issue.html_url
                      target="_blank"}}
        {{paper-icon "check-circle" size=18}} Help It
      {{/paper-button}}
    {{/paper-card}}
  {{/each}}
</div>

{{outlet}}
